.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 500px;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
    overflow: hidden;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transform: 0s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
}

.ex-5-square:active {
    height: 30px;
    width: 30px;
}



.ex-6-img:hover {
    filter: grayscale()
}

.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);

}

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 10%;
}

.ex-9-img {
    transition: all 2s;
 
}

.ex-9-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 10%;
    transform: scale(1.8);
}

.ex-10-icon {
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
    
}

.ex-11-icon:hover {
    animation: spin 1s linear;

}

@keyframes spin {
    75% {
        transform: rotate(.75turn);
    }
    
}
