.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 500px;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
    overflow: hidden;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transform: 0s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
}

.ex-5-square:active {
    height: 30px;
    width: 30px;
}



.ex-6-img:hover {
    filter: grayscale()
}

.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);

}

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 10%;
}

.ex-9-img {
    transition: all 2s;
 
}

.ex-9-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 10%;
    transform: scale(1.8);
}

.ex-10-icon {
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
    
}

.ex-11-icon:hover {
    animation: spinning 1s linear;

}

@keyframes spinning {
    75% {
        transform: rotate(.75turn);
    }
    
}

.ex-12-top-white {
    animation: muoviti 2s linear infinite;
}

@keyframes muoviti {

    100% {
        left: 70%;
    }


}

.ex-12-bottom-white {
    animation: muoviti2 2s linear infinite;
}

@keyframes muoviti2 {

    100% {
        right: 70%;
    }

}

.ex-13-top-white {
    animation: muoviti3 5s linear infinite;
}

@keyframes muoviti3 {

    25% {
        left: 80%;
    }

    45% {
        left: 80%;
        bottom: 110%;
    }

    90% {
        bottom: -10%;
        right: -10%;
    }

    100% {
        bottom: -10%;
        right: 10%;
    }

}

.ex-13-bottom-white {
    animation: muoviti4 5s linear infinite;
}

@keyframes muoviti4 {

    30% {
        right: 80%;
    }

    45% {
        right: 80%;
        top: -10%;
    }

    75% {
        left: 50%;
        top: -10%;
    }

    90% {
        left: 80%;
        top: -10%;
    }

    100% {
        left: 80%;
        bottom: -10%;
    }

}
